<div class='icons'>
<%= link_to '<img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="home">'.html_safe, groups_path %>
<%= link_to '<img src="https://cdn-icons-png.flaticon.com/512/3037/3037156.png" alt="transaction">'.html_safe, entities_path %>
</div>