<nav>
  <h1>Budget</h1>
  <ul class='nav-items'>
    <li class='nav-item'><%= link_to 'Home', groups_path %></li>
    <li class='nav-item'><%= link_to 'Groups', groups_path %></li>
    <li class='nav-item'><%= link_to 'Transactions', entities_path %></li>
  </ul>
</nav>